/* fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&family=Roboto+Mono:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.card-container {
  margin: auto;
  margin-top: 10%;
  width: 80vw;
  height: auto;
}

.profile-pic {
  border-radius: 100%;
  border: 5px solid #ffffff;
  max-width: 90px;
  max-height: 90px;
}

#card {
  margin: 14px auto;
  max-width: 500px;
  text-align: left;
  height: auto;
  background: linear-gradient(
    130deg,
    rgba(255, 255, 255, 0.5046393557422969) 0%,
    rgba(138, 188, 247, 0) 100%
  );
  border-radius: 10px;
  border-left: 5px solid white;
  padding: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.082);
}

#header {
  padding: 15px 15px;
  display: flex;
}

.title {
  font-family: 'League Spartan', sans-serif;
  color: rgba(100, 161, 151, 0.904);
  padding: 0 0 0 15px;
}

.title h1 {
  margin-bottom: 0;
  font-size: 2rem;
}

.title h3 {
  font-weight: 400;
  color: rgba(100, 161, 151, 0.657);
  font-size: large;
}

p {
  margin: 5% 0;
  font-family: 'Roboto Mono', monospace;
  color: rgba(51, 50, 50, 0.904);
  font-size: 15px;
  padding: 0 15px;
}

.btn-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px 0;
}

.btn-light {
  border-radius: 100%;
}
